@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Ruthie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
    font-family: 'Segoe UI', sans-serif;

  /*  box-shadow: 0 0 3px red;*/
}

body {
    background-color: #fdf4e3;
}

/* Restriction sur la taille du logo dans la navbar*/
.logo {
    max-width: 150px;
    max-height: 40px;
}

/* Couleur du fond de la navbar*/
.bg-green {
    background-color: #af0606;
}

/* mise en page à l'interieur de la nav bar afin de mettre tous à gauche le chaps recherhce*/
.navbar .navbar-collapse form {
    margin-left: auto;
}

/*Mise en page de l'image d'accueil*/

/*.custom-image-container {
    width: 100%;
    overflow: hidden;
    height: 800px;
    margin-bottom: -7%;
}

!* Msie en page dans le blok de l'image d'accueil *!

.custom-image {
    width: 100%;
    height: auto;
    display: block;
}*/

.custom-image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 800px;
    margin-bottom: -7%;
    z-index: -1;
}

.custom-image-container video {
    max-width: 100%; /* La vidéo ne dépassera pas la largeur de son conteneur */
    height: auto; /* La hauteur est automatiquement ajustée pour conserver les proportions d'origine */
    width: auto;
    pointer-events: none; /* Désactive toute interaction avec la vidéo */

}

/*ecriture sur l'image*/
.custom-image-container h1 {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    font-size: 90px;
    font-weight: 700;
    text-align: center;
}

/* Personalisation du style des différente card */
.card-style {
    text-align: center;
    background-color: #af0606;
    padding: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    transition: transform 0.3s;
    margin-top: 18px;


}

/*Fixation de la taille du logo des card*/
.logo-card {
    max-width: 100px;
    height: auto;
    margin: 0 auto;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

/* Ajout d'une ombre + effet lorsque l'on survole une carde */
.card-style:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #031f73;
}

/*Style du texte de la card*/
.card-style p {
    margin-top: 10px;
    font-weight: bold;
    color: white;
}

/*Suppresion du lien bleu automatique (a href)de la card */
.card-link {
    text-decoration: none;
    color: #031f73;
}

/*Couleur des liens lire la suite - page index*/
#lireplus1, #lireplus2, #lireplus3 {
    color: #031f73;
}

.space-after {
    margin-bottom: 3%;
}

/* Bouton pour remonter en Haut de la page*/
.btnhaut {
    height: 50px;
    width: 50px;
    background: #af0606;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 10000;
}

.iconeHaut {
    width: 15px;
}

.accordion-button{
    color: #ffffff;
}

/*-------------------------------------------Footer----------------------------------------------*/
.Toutfooter {
    display: flex;
    background: #fdf4e3;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 60vh;
}

.footer {
    position: relative;
    width: 100%;
    background: #031f73;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

/*Icone social footer*/
.social-icon__link {
    font-size: 2rem;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

/*Texte du footer*/
.menu__link {
    font-size: 1.2rem;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

/*Dernier Texte du footer*/
.footer p {
    color: white;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("https://i.ibb.co/Jq9hNH5/wavee-removebg-preview.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}


/*Couleur page actuelle*/
.list-group .active {
    background-color: #031f73;
    border: none;
}

/*Agenda*/
#agenda {
    padding-left: 2em;
    background-color: #fff1d7;
    border-radius: 5px;
}

#agenda .info p {
    border-left: solid #af0606;
    text-align: justify;
}

#lirelasuite {
    display: none;
}

#imageButton {
    background-color: #031f73;
    color: white;
    border: none;
    cursor: pointer;
}

#hiddenImage {
    display: none; /* L'image est cachée initialement */
}

/*couleur de fond du texte - page commune*/
.accordion-body {
    background-color: beige;
}
/*Page Service en ligne*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

.boite {
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}
.title {
    font-size: 3.5rem;
    color: #031f73;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}
/*Titre de la page*/
.boite .title {
    font-size: 3.5rem;
    color: #031f73;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}

/*Espacement de toutes les boites*/
.boite .products-boite {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

/*Rangement de toutes les boites*/
.boite .products-boite .product {
    text-align: center;
    padding: 2rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem #af0606;
    outline: .2rem solid #031f73;
    outline-offset: -1.5rem;
    cursor: pointer;
}

/*Bordure de la boîte*/
.boite .products-boite .product:hover {
    outline: .2rem solid #031f73;
    outline-offset: 0;
}

/*Taille des logos des boites*/
.boite .products-boite .product img {
    height: 10rem;
}

/*Dezoom du logo de la boite*/
.boite .products-boite .product:hover img {
    transform: scale(.9);
}

/*Taille titre de la boite*/
.boite .products-boite .product h3 {
    padding: 0.5rem 0;
    font-size: 2rem;
    color: #af0606;
}

/*Couleur du titre de la boite*/
.boite .products-boite .product:hover h3 {
    color: #031f73;
}

/*fond noir du pop up*/
.products-preview {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

/*Taille de la boite pop up*/
.products-preview .preview {
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fdf4e3;
    position: relative;
    margin: 2rem;
    width: 40rem;

}

/*affichage du pop up*/
.products-preview .preview.active {
    display: inline-block;
}

/* Croix du pop up*/
.products-preview .preview .fa-times {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    color: #031f73;
    font-size: 4rem;
}

/*Tourner de la croix*/
.products-preview .preview .fa-times:hover {
    transform: rotate(180deg);
    transition: transform 2s;
}

/* Titre du pop up*/
.products-preview .preview h3 {
    color: #031f73;
    padding: .5rem 0;
    font-size: 2.5rem;
}

/* Taille des liens du pop up*/
.products-preview .preview p {
    text-align: left;
    line-height: 1.5;
    padding: 1rem 0;
    font-size: 1.2rem;

}

.products-preview .preview p:hover {
    color: #c50d3b;

}

@media (max-width: 991px) {

    html {
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    .products-preview .preview img {
        height: 25rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 576px) {
    .card-style{

        margin: 4% 12% 4%;

    }

    #agenda {
        /*padding-left: 2em;*/
        background-color: #f8d99b;
        border-radius: 5px;
        padding: 2rem;
    }
    #agenda h2{
    font-size: 3rem;
    }
    #agenda h5{
        font-size: 2rem;
    }
    #agenda a{
        font-size: 2rem;
    }

    #agenda .info p {
        border-left: solid #af0606;
        text-align: justify;
        font-size: 2rem;
    }
    .accordion-body{
        font-size: 2rem;
    }
    .accordion-button:not(.collapsed) {
        font-size: 2rem;
    }
    .accordion-button{
        font-size: 2rem;

    }
    .list-group a{
        font-size: 2.5rem;
        text-align: center;
    }
    .list-group{
        margin-right: 10%;
        margin-left: 10%;
    }
    .card-style p{
        font-size: 1.6rem;

    }
}

@media screen and (max-width: 576px) {
    .custom-image-container {
        width: 100%;
        overflow: hidden;
        height: 300px;
        margin-bottom: -7%;
    }

    .custom-image-container h1 {
        position: absolute;
        top: 12%;
        transform: translateY(-50%);
        margin: 0;
        padding: 0;
        width: 100%;
        color: #000000;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

}
@media screen and (min-width: 576px) and (max-width: 650px) {
    .custom-image-container {
        width: 100%;
        overflow: hidden;
        height: 410px;
        margin-bottom: -7%;
    }
}
@media screen and (min-width: 650px) and (max-width: 750px) {
    .custom-image-container {
        width: 100%;
        overflow: hidden;
        height: 500px;
        margin-bottom: -7%;
    }
}
@media screen and (min-width: 750px) and (max-width: 950px) {
    .custom-image-container {
        width: 100%;
        overflow: hidden;
        height: 550px;
        margin-bottom: -7%;
    }
}
@media screen and (min-width: 950px) and (max-width: 1180px) {
    .custom-image-container {
        width: 100%;
        overflow: hidden;
        height: 620px;
        margin-bottom: -7%;
    }
}
/*-------------------------------------------Carte ineractive----------------------------------------------*/
.mapdiv {
    width: 25%;
    margin-left: 10%;

}

.mapdiv path {
    fill: #a4aba4;
    stroke: rgb(255, 255, 255);
    stroke-width: 0.5px;

}

.mapdiv :hover {
    fill: rgb(3, 31, 115);
}

svg {
    height: 400px;
    width: 350px;
}
/*-------------------------------------------Popup Horaire ----------------------------------------------*/
.box {
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button1 {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button1:hover {
    background: #af0606;
    border-radius: 20px/50px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 10000;
}
.overlay:target {
    visibility: visible;
    opacity: 20;
}
/*Pop up Horaire - page commune*/
.popup {
    margin: 250px auto;
    padding: 20px;
    background: #fdf4e3;
    border-radius: 5px;
    width: 36%;
    position: relative;
    transition: all 5s ease-in-out;
    z-index: 999;
}
/*Titre dans le pop up - page commune*/
.popup h2 {
    margin-top: 0;
    color: #031f73;
    text-align: center;
}
/*Texte dans le pop up - page commune*/
.popup h3 {
    margin-top: 0;
    color: #031f73;
}
/*Croix pour fermer le pop up*/
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 20ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
/*effet Croix pour fermer le pop up*/
.popup .close:hover {
    color: #af0606;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}
/*-------------------------------------------Page Lieux touristiques----------------------------------------------*/
.cardtst {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
    /*max-width: 1200px;*/
    width: 100%;
}

@media(min-width: 540px){
    .cardtst {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 960px){
    .cardtst {
        grid-template-columns: repeat(4, 1fr);
    }
    .cardt-content p {
        color: white;
        font-size: 1.9rem;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    /*Texte dans les cards*/
    .cardt-content h3 {
        color: #000000;
        font-size: 3.6rem;
        text-shadow: 2px 2px 20px #af0606;
    }
}

@media screen and (max-width: 1800px) {
    .cardt{
        margin:-50% 5% -50%;
    }

    /*Titre du texte dans les cards*/




}

.cardt {
    position: relative;
    padding-bottom: 150%;
    margin-bottom: 30px;
    margin-top: 20px;
}

.cardt-background {
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform-origin: center;
    transition: .2s;
}

.cardt:hover .cardt-background {
    transform: scale(1.05) translateZ(0);
    box-shadow: 0 0 20px #031f73;

}

.cardtst:hover > .cardt:not(:hover) .cardt-background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(0.2px);
}
/*Position du Texte dans les cards*/
.cardt-content {
    padding: 24px;
    position: absolute;
}
/*Titre du texte dans les cards*/
.cardt-content p {
    color: white;
    font-size: .9rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}
/*Texte dans les cards*/
.cardt-content h3 {
    color: white;
    font-size: 1.6rem;
    text-shadow: 2px 2px 20px #af0606;
}
/*Gros titres*/
.ecriture{
    color: #031f73;
    font-size: 3rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
    max-width: 1200px;
    width: 100%;
    text-align: center;
}
/*-------------------------------------------écriture nom page commune ----------------------------------------------*/

.heading {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    padding: 2em;

}
.heading h3 {
    position: relative;
    font-size: clamp(0rem, 12vw, 6rem);
    line-height: 0.9em;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    color: #af0606;
}
.heading h3:before {
    /*content: attr(data-text);*/
    content: attr(data-text);
    position: absolute;
    top: 0; left: 0;
    width: 0%;
    height: 100%;
    color: #031f73;
    -webkit-text-stroke: 1px #000000;
    border-right: 2px solid #af0606;
    overflow: hidden;
    animation: move 4s alternate ease-in-out ;
}


@keyframes move {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }

}
.ecriture-petit-titre{
    font-size: 2rem;
}

/*-----------------------------------Caroucelle elus------------------------------------*/
.tout {
    margin: 0;
    padding: 0;
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapperauto {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapperauto i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 3px 6px white;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapperauto i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapperauto i:first-child {
    left: -22px;
}

.wrapperauto i:last-child {
    right: -22px;
}

.wrapperauto .carouselauto {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carouselauto::-webkit-scrollbar {
    display: none;
}

.carouselauto.no-transition {
    scroll-behavior: auto;
}

.carouselauto.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carouselauto.dragging .card {
    cursor: grab;
    user-select: none;
    align-items: center;
}

.carouselauto :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselauto .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #031f73;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    transform-style: preserve-3d;
    align-items: center;
}

.carouselauto .card .img {
    background: white;
    height: 148px;
    width: 148px;
    border-radius: 50%;
    align-items: center;
}

/*Contours image des élus*/
.card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #af0606;
    align-content: center;

}

.carouselauto .card h2 {
    font-weight: 500;
    font-size: 1.3rem;
    /* margin: 30px 15px 5px;*/

    margin-top: 25px;

    margin-right: 5px;
    text-align: center;
    align-items: center;

}

.carouselauto .card span {
    color: white;
    font-size: 1.1rem;
    text-align: center;
}

.fa-angle-left {
    z-index: 1
}

@media screen and (max-width: 900px) {
    .wrapperauto .carouselauto {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapperauto .carouselauto {
        grid-auto-columns: 100%;
    }
    .carouselauto .card h2 {
        font-size: 2.5rem;
    }
    .carouselauto .card span {
        font-size: 2rem;
    }
}



/*Container 3D*/
.container-3d {

    border: 0.5px solid #ffffff;
    border-radius: 10px;
}

/*Card*/

.front,
.back {
    text-align: center;
    backface-visibility: hidden; /*hide backface*/
    transition: all 0s ease-in-out;
    transform-style: preserve-3d; /*to allow 3d on images*/
}

/*Face avant des cartes - page commune*/
.front {
    background-position: left;
    color: white;
}

.back {
    background-position: right;
    transform: rotateY(180deg); /*rotate this face*/
}

.front-content.img {
    align-items: center;
}

/*Texte au dos des cartes - page commune*/
.back-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}



/*Hover Transition*/
.container-3d:hover .card {
    transform: rotateY(180deg); /*rotate card when hover on container*/
}

.container-3d:hover .front {
    background-position: right;
}

.container-3d:hover .back {
    background-position: left;
}

.fab:hover {
    transform: scale(1.2);
}

.front-content,
.back-content {
    transform: translateZ(1px);
    align-items: center;
}

.front-content,
.back-content h2 {
    text-align: center;


}

/*Front*/

.front {
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden; /*hide backface*/
    transition: all 0s ease-in-out;
    transform-style: preserve-3d; /*to allow 3d on images*/
    background-size: 300% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    position: absolute;
    backface-visibility: hidden; /*hide backface*/
    transition: all 0s ease-in-out;
    transform-style: preserve-3d; /*to allow 3d on images*/
    background-size: 300% 100%;
    z-index: auto;
}



